<link rel="stylesheet" href="home.component.css">

<div class="container" style="margin: 10px;">
<div class="jumbotron">
    <h1 style="text-align: center;">Welcome to Survey Panda!</h1>
</div>
    <br>
    <br>
    <div>
        <img src="/assets/images/Survey_Intro.jpg" style="float: right">
    <p id="First">
        Here at Survey Panda, we help you design and implement your own 
        surveys for whatever task or information collection you wish to 
        record for your project.
    </p>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <img src="/assets/images/Cartoon_Survey.jpg" id="Picture">
    <p id="Second"> 
        If you have not already, you can login to your account to 
        keep working on your surveys that you have already started on. 
        But, if you don't have an account click here to register.
        <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    </p>
    </div>
    