<app-basepage></app-basepage>


<div class="container">
    <div class="row">
        <div class="offset-md-2 col-md-8  p-5">
           

            <form method="POST" class="form">
                <div class="form-group">
                    <label for="surveyTitleTextField">Survey Name: </label>
                    <input type="text" class="form-control"
                    id="surveyTitleTextField"
                    name="surveyTitle"
                    value=""
                    required>               
                </div>
                <div class="form-group">
                    <label for="surveyLifetimeTextField">Survey Lifetime: </label>
                    <input type="number" class="form-control"
                    id="surveyLifetimeTextField"
                    name="surveyLifetime"
                    value=""
                    required>               
                </div>
                <div class="form-group">
                    <label for="question1TextField">Q.1: </label>
                    <input type="text" class="form-control"
                    id="question1TextField"
                    name="question1"
                    value=""
                    required>               
                </div>
                <div class="form-group">
                    <label for="question2TextField">Q.2: </label>
                    <input type="text" class="form-control"
                    id="question2TextField"
                    name="question2"
                    value=""
                    required>               
                </div>    
                <div class="form-group">
                    <label for="question3TextField">Q.3: </label>
                    <input type="text" class="form-control"
                    id="question3TextField"
                    name="question3"
                    value=""
                    required>               
                </div>    
                <div class="form-group">
                    <label for="question4TextField">Q.4: </label>
                    <input type="text" class="form-control"
                    id="question4TextField"
                    name="question4"
                    value=""
                    required>               
                </div>    
                <div class="form-group">
                    <label for="question5TextField">Q.5: </label>
                    <input type="text" class="form-control"
                    id="question5TextField"
                    name="question5"
                    value=""
                    required>               
                </div>    
                <div class="form-group">
                    <label for="question6TextField">Q.6: </label>
                    <input type="text" class="form-control"
                    id="question6TextField"
                    name="question6"
                    value=""
                    required>               
                </div>    
                <div class="form-group">
                    <label for="question7TextField">Q.7: </label>
                    <input type="text" class="form-control"
                    id="question7TextField"
                    name="question7"
                    value=""
                    required>               
                </div>    
                <div class="form-group">
                    <label for="question8TextField">Q.8: </label>
                    <input type="text" class="form-control"
                    id="question8TextField"
                    name="question8"
                    value=""
                    required>               
                </div>    
                <div class="form-group">
                    <label for="question9TextField">Q.9: </label>
                    <input type="text" class="form-control"
                    id="question9TextField"
                    name="question9"
                    value=""
                    required>               
                </div>    <div class="form-group">
                    <label for="question10TextField">Q.10: </label>
                    <input type="text" class="form-control"
                    id="question10TextField"
                    name="question10"
                    value=""
                    required>               
                 </div>

                <!--Buttons-->
                <div class="text-center m-5 ">
                    <button class="btn btn-primary m-3" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>

                    <a href="/survey-list" class="btn btn-warning  m-3">
                    <i class="fas fa-undo"></i> Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
