<app-basepage></app-basepage>

<div class="container ">

    <div class="row text rounded text-center">
        <div class="offset-md-1 col-md-10 ">

            <br>
            <table class=" table-bordered  text-center">
                <!--Header row-->
                <tr>
                    <th class="text-center col-6">Survey Name</th>
                    <th class="text-center col-2"></th>
                    <th class="text-center col-2"></th>
                </tr>

                <!--Repeatable Template Row-->
                <tr *ngFor='let survey of surveys'>

                    <td class="text-center">{{survey.title}}</td>
                    <td class="text-center">
                        <a href="#" class="btn btn-primary btn-sm"><i class="fas fa-pencil-alt"></i> Update</a>
                    </td>
                    <td class="text-center">
                        <a href="#" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i> Delete</a>
                    </td>
                </tr>

            </table>
        </div>

    </div>

</div>